/* -------------
      Fonts 
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ------------------
    common styles 
---------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 1440px;
}

/*-------------------
    header styles 
---------------------*/
.intro{
    height: 677px;
    display: flex;
    background-color: #2D25A0;
}
.intro-title{
    width: 485px;
    height: 230px;
    font-size: 50px;
    color: white;
    margin-left: 100px;
}
.intro-title p:hover{
    background-color: gray;
}
.intro-title p{
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background: #E02C6D;
    text-align: center;
    padding-top: 15px;
}
.intro img{
    width: 556.01px;
    height: 438px;
    padding-top: 135px;
    padding-bottom: 104px;
    padding-left: 80px;
    padding-right: 164px;
}

/*---------------------
    players styles 
-----------------------*/
.players-grid{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 40px;
}
.players{
    background: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 17px;
}
.player{
    width: 330px;
    background: #FFFFFF;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h2{
    font-size: 28px;
    color: #18191F;
    line-height: 40px;
    margin: 10px 0px;
}
.player p{
    font-size: 16px;
    line-height: 26px;
    width: 300px;
    left: calc(50% - 300px/2);
    color: #6C6C6C;
}
.player img{
    width: 100%;
    height: 256px;
    margin: 16px 0px;
}

/*-------------------------
    highlights section 
---------------------------*/
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.highlights-title{
    width: 466px;
    height: 309px;
}
.highlights-title h1{
    font-size: 48px;
}
.highlights-title p{
    font-size: 16px;
    color: #6C6C6C;
}
.highlights img{
    width: 567px;
    height: 427px;
}

/*---------------------
    footer section  
-----------------------*/
footer{
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 63px auto;
    padding: 0px;
}
footer img{
    width: 483.87px;
    height: 110px;
    margin: 20px 0px;
}
.footer-icons{
    width: 170px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    text-align: center;
    color: #000000;
    margin: 20px 0px;
}

/*----------------------------
     Mobile media Queries 
------------------------------*/
@media only screen and(max-width:688px) {
   .intro{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .players{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       align-items: center;
       justify-content: center;
   }
   .highlights{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
